.space { background-color: #eee; border-right: 1px solid #ccc; }

#main-nav { position: fixed; z-index: 1040; top: 0; bottom: 0; padding-bottom: ; background: #fff; box-shadow: 0 0 3px 3px rgba(0,0,0,.3); }
#spaces-nav>div { background-color: #ccc; border-right: 1px solid #999; }

.container-fluid { padding-top: 51px; }
.nav>li>a { margin: 0 -15px; }
.logo { background-repeat: no-repeat; background-position: center; background-size: contain; text-indent: -99999px; }
.logo a { display: block; }
#logo-virada { height: 100px; background-image: url(../img/logo.png) }
#logo-smc { position: absolute; left: 0; bottom: 15px; width: 100%; height: 80px; background-image: url(../img/brasao.png) }