wp-config.php
.htaccess
*~
*swp
.DS*Store
Thumbs.db
base_bkp_last_reset.sql
node_modules
/src/wp-content/themes/viradacultural/main.css
/nbproject/
/src/wp-content/themes/viradacultural/includes/extra-db-config.php
/jsons/*.json
/jsons/api-config.php
