/* = 10 Anos Virada
-------------------------------------------------------------- */
.virada-10-anos {
  article {
    article {
      position: relative;
      header {
        background-color: @rosa;
        color: white;
        display: inline-block;
        padding: 18px 36px;
        position: absolute;
        top: 0;
        h1 {
          line-height: 1;
          margin: 0;
          padding: 0;
        }
      }
      figure {
      }
      section {
        background-color: rgba(0,0,0,0.7);
        bottom: 0;
        color: @gray-darker;
        overflow: hidden;
        padding: 18px 18px 63px 18px;
        position: absolute;
        p {
          height: 100px;
          margin-bottom: 0;
          overflow: hidden;
          position: relative;
        }
      }
      button {
        bottom: 18px;
        position: absolute;
        right: 18px;
      }
    }
  }
}