@import "bootstrap.less";
@import "rrssb.less";
@import "main-header.less";
@import "main-header-minified.less";
@import "pages.less";
@import "10-anos.less";
@import "wp.less";

/*Colors*/
@rosa: #ee2c72; /*238, 44, 114*/
@amarelo: #ffc20e; /*255, 194, 14*/
@verde: #00a68a; /*0, 166, 138*/
@roxo: #893494; /*137, 52, 148*/

@gray-darker:            lighten(#000, 20%);   // #333
@gray-dark:              lighten(#000, 60%);   // #999
@gray:                   lighten(#000, 80%);   // #ccc
@gray-light:             lighten(#000, 87%);   // #dedede
@gray-lighter:           lighten(#000, 95%);   // #f2f2f2

@brand-primary:         @rosa;

@body-bg: @gray-light;
@text-color: @gray-darker;
@link-color: @rosa;
@link-hover-color: @roxo;

a:hover {
    text-decoration: none;
}

body.single, body.page, body.programacao-single {
    background: #fff;
}

.navbar {
    border: none;
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
    color: @gray-dark;
}

/*Typography*/

@virada-n-font-name:          "Museo300";
@virada-n-font-svg-id:        "Museo300Regular";
@virada-b-font-name:          "Museo500";
@virada-b-font-svg-id:        "Museo500Regular";
@virada-xb-font-name:         "Museo700";
@virada-xb-font-svg-id:       "Museo700Regular";
@auxiliar-n-font-name:        "MuseoSans_500";
@auxiliar-n-font-svg-id:      "museo_sans500";

@font-face {
    font-family: 'Museo';
    src: ~"url('@{icon-font-path}@{virada-n-font-name}.eot')";
    src: ~"url('@{icon-font-path}@{virada-n-font-name}.eot?#iefix') format('embedded-opentype')",
         ~"url('@{icon-font-path}@{virada-n-font-name}.woff') format('woff')",
         ~"url('@{icon-font-path}@{virada-n-font-name}.ttf') format('truetype')",
         ~"url('@{icon-font-path}@{virada-n-font-name}.svg#@{virada-n-font-svg-id}') format('svg')";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: ~"url('@{icon-font-path}@{virada-b-font-name}.eot')";
    src: ~"url('@{icon-font-path}@{virada-b-font-name}.eot?#iefix') format('embedded-opentype')",
         ~"url('@{icon-font-path}@{virada-b-font-name}.woff') format('woff')",
         ~"url('@{icon-font-path}@{virada-b-font-name}.ttf') format('truetype')",
         ~"url('@{icon-font-path}@{virada-b-font-name}.svg#@{virada-b-font-svg-id}') format('svg')";
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: ~"url('@{icon-font-path}@{virada-xb-font-name}.eot')";
    src: ~"url('@{icon-font-path}@{virada-xb-font-name}.eot?#iefix') format('embedded-opentype')",
         ~"url('@{icon-font-path}@{virada-xb-font-name}.woff') format('woff')",
         ~"url('@{icon-font-path}@{virada-xb-font-name}.ttf') format('truetype')",
         ~"url('@{icon-font-path}@{virada-xb-font-name}.svg#@{virada-xb-font-svg-id}') format('svg')";
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: ~"url('@{icon-font-path}@{auxiliar-n-font-name}.eot')";
    src: ~"url('@{icon-font-path}@{auxiliar-n-font-name}.eot?#iefix') format('embedded-opentype')",
         ~"url('@{icon-font-path}@{auxiliar-n-font-name}.woff') format('woff')",
         ~"url('@{icon-font-path}@{auxiliar-n-font-name}.ttf') format('truetype')",
         ~"url('@{icon-font-path}@{auxiliar-n-font-name}.svg#@{auxiliar-n-font-svg-id}') format('svg')";
    font-weight: normal;
    font-style: normal;
}

@font-size-base:          16px;
@font-size-large:         ceil((@font-size-base * 1.125)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.75)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.25)); // ~36px
@font-size-h2:            floor((@font-size-base * 2)); // ~32px
@font-size-h3:            ceil((@font-size-base * 1.5)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~20px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.75)); // ~12px


@font-family-sans-serif:  "Museo", Helvetica, Arial, sans-serif;
@font-family-secondary:   "Museo Sans", Verdana, sans-serif;
@line-height-base:        1.5;

@icon-font-path:          "fonts/";

@headings-font-family:    @font-family-sans-serif;
@headings-font-weight:    normal;

.secondary-font(){
    font-family: @font-family-secondary;
    font-size: 12px;
    text-transform: uppercase;
}

.icon(){
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@border-radius-base:        3px;
@border-radius-large:       4px;
@border-radius-small:       2px;

@component-active-color: @amarelo;
@list-group-link-color: @rosa;


/* =WordPress
-------------------------------------------------------------- */
.alignright {
    float: right;
}

.alignleft {
    float: left;
}


/* =Virada utilities
-------------------------------------------------------------- */
img, body:not(.page-template-page-dez-anos-php) article.page img {
   .img-responsive();
}

/* =Form
-------------------------------------------------------------- */
@input-bg:                       @gray-lighter;
@input-color:                    @gray-dark;
@input-color-placeholder:        @gray;

.form-control {
    border: none;
    box-shadow: none;
    height: 36px;
    font-family: @font-family-secondary;
    &:focus {
        box-shadow: none;
    }
}

.input-group-addon {
    border: none;
    .icon {
        color: @rosa;
    }
}

/* =Buttons
-------------------------------------------------------------- */
.btn {
    border: none;
    font-family: @font-family-secondary;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.7143;
    .icon {
        font-size: @font-size-base;
        vertical-align: middle;
    }
    &:hover, &:active, &.active {
        background-color: @gray-lighter;
        box-shadow: none;
    }
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
  .icon {
    font-size: @font-size-base;
  }
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
  .icon {
    font-size: @font-size-small;
  }
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
  .icon {
    font-size: @font-size-small;
  }
}

@btn-default-color:              @rosa;
@btn-default-bg:                 @gray-light;

@btn-primary-color:              @amarelo;
.btn-primary {
    &:hover {
        background-color: @roxo;
    }

}

@btn-secondary-color:            @gray;
.btn-secondary {
    .button-variant(@btn-secondary-color; @btn-default-bg; @btn-default-border);
    &:hover, &:active, &.active, &:focus {
        color: @gray-dark;
    }

}

.dropdown-menu {
    border: none;
}

.tooltip-inner {
    .secondary-font();
}

/* =Layout
-------------------------------------------------------------- */

.fixed-bars(){
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    background-color: @gray-lighter;
}

.container-menu-minified { 
    margin-left: 115px;
}

.container-menu-large {
    margin-left: 225px;
    margin-right: 225px;
}

body {
    margin-top: 76px;
}




/* =Main footer
-------------------------------------------------------------- */
#main-footer {
    background: @gray;
    padding: 24px;
    clear: both;
}


/* =Countdown
-------------------------------------------------------------- */
#countdown {
    .fixed-bars();
    .box-shadow(0 0 6px 0 rgba(0,0,0,.3));
    right: 0;
    padding-top: 24px;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    font-family: @font-family-secondary;
    font-size: 14px;
    width: 225px;
    > div:first-child {
        font-size: 22px;
        line-height: 48px;
        margin-bottom: 30px;
    }
    > div:nth-child(2n+1){
        margin-bottom: 30px;
    }

    .circle {
        /*border-radius: 36px;*/
        /*margin: 0 auto;*/
        /*width: 72px;*/
        /*height: 72px;*/
        line-height: 64px;
        /*border: 6px solid #ccc;*/
        font-family: @font-family-sans-serif;
        font-size: 30px;
        font-weight: bold;
        &.days {
            border-top-color: @rosa;
            color: @rosa;
        }
        &.hours {
            border-bottom-color: @amarelo;
            color: @amarelo;
        }
        &.minutes {
            border-left-color: @roxo;
            color: @roxo;
        }
    }

        .countdown-text{
            margin-top: -72px;
            margin-bottom: 6px;
        }

    footer {
     position: absolute;
     left: 0;
     bottom: 24px;
     padding: 0 15px;
     width: 100%;

        time {
            font-family: @font-family-sans-serif;
            font-weight: bolder;
            display: block;
            width: 60%;
            margin: 0 auto;
            div:first-child {
                font-size: 30px;
                color: @roxo;
                border-bottom: 4px solid @amarelo;
            }
            div:nth-child(2) {
                font-size: 33px;
                color: @verde;
                border-bottom: 4px solid @amarelo;
            }
            div:last-child {
                font-size: 36px;
                color: @rosa;
            }
        }
        .icon {
            font-size: 24px;
            color: #ccc;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

/* =Carousel
-------------------------------------------------------------- */
@carousel-indicator-border-color: @gray-lighter;
@carousel-indicator-active-bg: @rosa;

/* =Front-page Carousel
-------------------------------------------------------------- */
#front-page-carousel {
    border: 1px solid @body-bg;
    border-top: none;
    .carousel-control {
        display: none;
    }
    .carousel-caption {
        text-shadow: none;
        background: @rosa;
        bottom: 72px;
        left: 40%;
        right: 0;
        text-align: right;
        padding: 24px;
        h1 {
            margin: 0;
            font-size: 32px;
            a {
                color: @amarelo;
            }
        }
        &:hover {
            background: @roxo;
        }
    }
    .carousel-indicators {
        left: initial;
        right: 24px;
        width: auto;
        li {
            background-color: @gray;
            border: none;
            &.active{
                 background-color: @rosa;
            }
        }
    }
}


/* =Post
-------------------------------------------------------------- */
article.post, article.noticias, article.imprensa, article.page, article.event-single, article.type-twitter_cpt, article.type-instagram_cpt {
    header p, footer {
            .secondary-font();
            color: @verde;
        }
    header { text-align: center; }
}

.grid-post {
    float: left;
    width: 25%;
    height: 312px;
    overflow: hidden;
    text-align: center;
    background-color: @gray-lighter;
    border-right: 1px solid @body-bg;
    border-bottom: 1px solid @body-bg;
    .transition(background linear .3s);
    .post-content {
        position: relative;
        padding: 24px 15px;
        h1 {
            font-size: @font-size-base;
            line-height: 1.5;
            margin: 0;
        }
    }
    .post-type-icon {
        position: relative;
        background: @rosa;
        border-radius: 18px;
        height: 36px;
        width: 36px;
        margin: 0 auto 12px;
        text-align: center;
        line-height: 36px;
        img {
            width: 24px;
            display: inline;
        }
        .icon {
            color: @amarelo;
            vertical-align: middle;
        }
    }
    &.has-thumbnail {
        .post-content {
            padding-top: 0;
        }
        .post-type-icon {
            margin-top: -18px;
        }
    }
    &.type-instagram_cpt{
        p {
            margin: 0;
        }
        .post-type-icon {
            margin-top: -18px;
        }
        footer {
            padding: 0 15px;
        }
    }
    .post-img {
        position: relative;
        border-bottom: 3px solid @roxo;
        .post-img-cover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.3);
            .transition(all linear .3s);
        }
    }
    &:hover {
        background-color: #fff;
        .post-img-cover {
            background-color: rgba(0,0,0,0);
        }
    }
}

/* =Programação
-------------------------------------------------------------- */
.virada-navbar {
    min-height: 76px;
    background-color: #fff;
    font-family: @font-family-secondary;
    h1 {
        margin: 20px 0;
        font-size: 24px;
        line-height: 36px;
    }
    #view-group {
        float: right;
        padding: 20px 0;
        background-color: @gray-lighter;
        line-height: 36px;
        text-align: center;
        a {
            display: inline-block;
            width: 36px;
            height: 36px;
            background: @gray;
            border-radius: @border-radius-base;
            color: @gray-lighter;
            vertical-align: middle;
            cursor: pointer;
            &:hover, &.active{
                color: @gray-dark;
            }
        }
    }
    .programacao-navbar-item {
        margin: 20px 0;
        padding: 0 15px;
        float: left;
        line-height: 36px;
        border-left: 2px solid @gray-lighter;
    }
    #sort-by {
        .btn {
            text-align: left;
            min-width: 130px;
        }
        .caret { 
            float: right;
            margin-top: 10px;
        }
    }
    .time-filter-group {
        width: 100%;
        padding-left: 40px;
        .btn {
            margin-left: -40px;
            border-radius: 3px 0 0 3px;
            float: left;
        }
    }
    .time-filter {
        float: left;
        width: 100%;
        min-width: 200px;
        padding: 0 54px;
        background-color: @gray-lighter;
        border-radius: 0 3px 3px 0;
        overflow: hidden;
    }
    .time-range {
        float: left;
        display: inline-block;
        width: 54px;
        height: 36px;
        line-height: 36px;
        color: @gray-dark;
        text-align: center;
        &.time-range-start {
            margin-left: -54px;
        }
        &.time-range-end {
            margin-right: -54px;
        }
    } 
    .ngrs-range-slider {
        float: left;
        height: 12px;
        width: 100%;
        margin: 12px 0 0;
        padding: 0;
        border: none;
        border-radius: 12px;
        background: #fff;
        &:focus {
            .box-shadow(none);
        }
        .box-shadow(none);
        .ngrs-join {
            background-color: @gray;
            background-image: none;
            top: 0;
            bottom: 0;
            height: 12px;
            margin-top: 0;
        }
        .ngrs-handle {
            height: 28px; 
            margin-top: -8px;
            border: none;
            background-color: @rosa;
            
        }
    }
}

.bootstrap-timepicker-widget.dropdown-menu {
    z-index: @zindex-navbar-fixed;
}

@panel-bg:                    transparent;
@panel-body-padding:          0;
@panel-border-radius:         0;

@panel-default-text:          @gray-darker;

@panel-default-heading-bg:    @gray-lighter;

#main-section.panel-group {
    margin-top: 6px;
    padding: 0;
    .panel {
        border: none;
        .panel-heading a {
            color: @rosa;
            >.icon {
                color: @gray-dark;
            }
        }
        .panel-collapse {
            position: relative;
            .program-nav {
                position: absolute;
                z-index: 1000;
                display: none;
                top: 0;
                bottom: 0;
                width: 50px;
                line-height: 168px;
                background-color: rgba(0, 166, 138, .5);
                &.program-nav-left {
                    left: 0;
                }
                &.program-nav-right {
                    right: 0;
                }
                .icon {
                    color: @amarelo;
                    font-size: 56px;
                    vertical-align: middle;
                }
            }
            &:hover {
                .program-nav {
                    display: block;
                }
            }
        }
    }
}

#map-modal {
    .list-group {
        width: 25%;
        float: left;
        max-height: 400px;
        overflow: auto;
    }
    .google-map {
        float: right;
        max-height: 400px;
        overflow: auto;
        position: relative;
        width: 75%;
    }
    .angular-google-map-container {
      height: 400px;
    }

    img {
      max-width: none;
    }
}

.event {
    .event-content {
        h1 {
            margin: 0;
            font-size: 20px;
        }
        footer {
            time {
                .secondary-font();
            }
        }
    }
}
.event-grid {
    position: relative;
    float: left;
    width: 18%;
    height: 168px;
    border-right: 1px solid @body-bg;
    background-color: @gray-lighter;
    .event-content {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 54px;
        padding: 15px;
        background-color: @rosa;
        .transition(height linear .3s);
        a {
            color: @amarelo;
        }
        h1 {
            display: none;
        }
        footer {
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 15px;
            color: @amarelo;
        }

    }
    &:hover {
        .event-content {
            height: 168px;
            background-color: @roxo;
            h1 {
                display: block;
            }
        }
    }
}
.event-list {
    border-bottom: 1px solid @body-bg;
    background: #f5f5f5;
    padding: 15px;
    img {
        float: left;
        width: 10%;
    }
    .event-content {
        width: 90%;
        float: left;
        h1 {
            float: left;
            width: 60%;
            padding-left: 15px;
        }
        footer {
            float: right;
            width: 30%;
            color: @verde;
            border-left: 1px solid @gray-light;
            padding-left: 15px;
            .icon_star {
                color: @amarelo;
            }
        }
    }
    &:hover {
        background: #fff;
    }
};
.space-single {
    .timeline {
        width: 520px;
        margin-bottom: 48px;
        .center-block();
        .event-group {
            position: relative;
            width: 260px;
            margin-bottom: 24px;
            margin-top: -60px;
            clear: both;
            .event-time {
                .secondary-font();
                color: @rosa;
                z-index: 100;
                background: @amarelo;
                text-align: center;
                position: absolute;
                bottom: 12px;
                width: 46px;
                padding: 3px;
                border-radius: @border-radius-base;
            }
            .event-grid {
                float: none;
                width: 225px;
                border-right: none;
                &:before {
                    .icon();
                    display: block;
                    position: absolute;
                    bottom: 8px;
                    font-size: 36px;
                    color: @rosa;
                }
                &:hover:before {
                    color: @roxo;
                }
            }

            &:first-child {
                margin-top: 0;
                padding-top: 48px;
            }
            &:last-child {
                padding-bottom: 48px;
                .event-time {
                    bottom: 60px;
                }
            }

            &:nth-child(odd){
                float: left;
                border-right: 2px solid @amarelo;
                margin-left: 2px;
                .event-time {
                    right: -23px;
                }
                .event-grid {
                    margin-right: 35px;
                    &:before {
                        content: "\45";
                        right: -18px;
                    }
                }
            }
            &:nth-child(even){
                float: right;
                border-left: 2px solid @amarelo;
                .event-time {
                    left: -23px;
                }
                .event-grid {
                    margin-left: 33px;
                    &:before {
                        content: "\44";
                        left: -18px;
                    }
                }
            }
        }
    }

}

.event-single, .space-single {
    width: 70%;
    margin: 0 auto 48px;
}
.servico {
    background: @gray-light;
    border-left: 4px solid @rosa;
    .box-shadow(0 1px 1px rgba(0,0,0,.2));
    font-family: @font-family-secondary;
    padding: 24px;
    margin-bottom: 24px;
    color: @gray-dark;
    p > span {
        color: @verde;
    }
}

/* carrousel */

.hl-ref { width:18%; }
.hl-num-nav { display:none; }