#site-navbar {
	.share-buttons {
		margin-top: 20px;
	}

	.pages-navbar-item {
	    float: right;
	    margin: 20px 0;
	    padding: 0 0 0 15px;
	}
}



.page, .single, .archive {
	#main-section {
		margin-top: 76px;
	}
}
.page, .single {
	article {
		width: 70%;
		margin: 0 auto 48px;
	}
}

.blog, .archive {
	#posts-nav {
		clear: both;
		width: 100%;
		padding-top: 40px;
		overflow: hidden;
	}
}

#posts-nav {
	width: 80%;
	margin: 0 auto 40px;

	a {
		display: block;
		width: 40px;
		height: 40px;
	}

	.icon {
		display: block;
		width: 40px;
		height: 40px;
		font-size: 39px;
		background-color: @rosa;
		color: #fff;
		border-radius: 2px;
	}

	.label {
		.sr-only;
	}
}
