#site-navbar {
	.share-buttons {
		margin-top: 20px;
	}

	.pages-navbar-item {
	    float: right;
	    margin: 20px 0;
	}

	#pages-search {
		.btn .caret {
			margin-left: 5px;
		}
		.dropdown-menu {
			left: initial;
			right: 0;
			width: 100%;
			background-color: @rosa;

			a {
				color: @amarelo;

				&:hover {
					background-color: @roxo;
				}
			}
		}
	}
}

.page, .single {
	article {
		width: 70%;
		margin: 0 auto 48px;
	}
}

.blog, .archive {
	#posts-nav {
		clear: both;
		width: 100%;
		padding-top: 24px;
		overflow: hidden;
	}
}

#posts-nav {
	width: 80%;
	margin: 0 auto 24px;

	a {
		display: block;
		width: 36px;
		height: 36px;
	}

	.icon {
		display: block;
		width: 36px;
		height: 36px;
		font-size: 36px;
		background-color: @rosa;
		color: @amarelo;
		&:hover {
		background-color: @roxo;
		}
	}

	.label {
		.sr-only;
	}
}
